@import "foundation/variable";
@import "foundation/functions";
@import "foundation/mixins";
@import "objects/grid";

html {
    font-size: $rootFontSize + px;
}
h1 {
    color: $color;
    font-family: $h1FontSize;
    font-size: pxToRem(18);
}
p {
    color: $color;
    font-family: $bodyFontSize;
}
list {
    color: $color;
    font-family: $bodyFontSize;
    font-size: pxTorem(18);
}
